.so-widget-sow-icon-default-82d2c833d2c4 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-82d2c833d2c4 .sow-icon span,
.so-widget-sow-icon-default-82d2c833d2c4 .sow-icon a span {
  display: inline-block;
  color: #dd9933 !important;
  font-size: 30px !important;
}